bale-vpn-node/node_modules/

# Android / Gradle
bale-vpn-android/**/build/
bale-vpn-android/.gradle/
bale-vpn-android/.idea/
bale-vpn-android/local.properties
bale-vpn-android/**/*.iml
*.jks
*.keystore
